#agregarPersona {
    width: 100%;
    max-width: 600px;
    margin: 0 left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  
  #agregarPersona input {
    width: 50%;
    height: 20px;
    margin: 0.3rem;
  }
  
  #agregarPersona button {
    padding: 0.5em 3em;
    width: 300px;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
  }